.item-container {
    width: 100%;
    height: auto;
    padding: 30px 4%;
}

.item-sort-container {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
}

.item-sort-btn {
    float: right;
    padding: 0 10px;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    background: #fff;
    color: #4b4b4b;
    margin-right: 5px;
    cursor: pointer;
}

.item-sort-btn:first-child {
    margin-right: 0px;
}

.item-sort-btn.active {
    color: #fff;
    background: #4adaaf;
    font-weight: bold;
}

.item-list-container {
    width: 100%;
    height: auto;
    text-align: left;
}

.item-contents {
    width: 32%;
    height: auto;
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 15px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
}

.item-contents.first {
    margin-left: 0%;
}

.item-contents:hover {
    background: #f0f0f0;
}

.item-contents:hover .item-contents-image {
    transform: scale(1.1);
}

.item-contents-image-area {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.item-contents-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.item-contents-image {
    width: 100%;
    height: auto;
    transition: 0.35s;
}

.item-contents-info-area {
    width: 100%;
    height: auto;
    padding: 5px;
}

.item-contents-shop {
    width: 100%;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    color: #4b4b4b;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align: left;
}

.item-contents-title {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #4b4b4b;
    margin-bottom: 5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    text-align: left;
}

.item-contents-price {
    width: 100%;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #4adaaf;
    text-align: left;
}